<template>
  <div class="px-2 md:px-4 lg:px-8 scriptbuilder">
    <teleport to="#main-title">
      <slot name="header"></slot>
    </teleport>

    <teleport to="#top-action">
      <slot name="top-action"></slot>
    </teleport>

    <teleport to="#sub-title">
      <slot name="sub-title"></slot>
    </teleport>

    <teleport to="#sub-title2">
      <slot name="sub-title2"></slot>
    </teleport>

    <div class="flex flex-col w-full md:flex-row-reverse">
      <div class="md:w-3/12">
        <div class="mb-6">
          <slot name="sidebar"></slot>
        </div>
      </div>
      <div class="md:w-9/12">
        <div class="px-4 py-3 bg-white rounded-sm shadow md:mr-6">
          <slot name="main"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
