<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>Slipmat Program Builder</title>
  </head>
  <body class="w-screen min-h-0 bg-gray-100">
    <noscript>
      <strong>We're sorry but Slipmat Program Builder doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="flex w-screen h-screen min-h-0"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
