<template>
  <div class="px-2 prose md:px-4 lg:px-8">
    <teleport to="#main-title">
      About
    </teleport>

    <p>
      The idea behind this tool is to offer a realtime
      <strong> collaboration tool for building radio show scripts </strong>
      from pre-defined parts (like songs, jingles and talk sections).
    </p>

    <p>
      Building the show script with a tool like this instead with something like Google Docs has
      several benefits. This is actually designed for the task so it has bespoke functionality like
      automatic timestamps and easy editing and rearranging of sections. It can also easily be
      integrated to other parts of Slipmat ecosystem so the overall user experience will be much
      better.
    </p>

    <p>
      There's a
      <a href="https://backstage.slipmat.io/t/dj-feedback-wanted-show-script-building-tool/2706"
        >topic on Slipmat Backstage forum for discussing this tool</a
      >.
    </p>

    <h3>How To Use</h3>

    <ul>
      <li>
        You can add songs, talk segments, jingles and program sections (dividers with length of 0s)
        by clicking "Add" from the bottom of the program list.
      </li>
      <li>
        You can arrange items on the list by dragging them around holding the timestamp.
      </li>
      <li>
        You can select any item on the list by clicking it. Clicking a selected item again deselects
        it.
      </li>
      <li>
        You can add BPM to any song by selecting it and then tapping the "Tap tempo" button with the
        tempo of the song.
      </li>
      <li>
        You can delete an item by selecting and clicking the "Delete" button.
      </li>
    </ul>

    <h3>TODO</h3>

    <ul>
      <li>Allow editing of items</li>
      <li>Lock items in time (ie. "news start exactly at 21:00" etc)</li>
      <li>Calculate remaining empty time to next segment or to show end</li>
    </ul>

    <p>Some further development ideas:</p>

    <ul>
      <li>Import playlists from Spotify / Tidal etc</li>
      <li>Import playlists from DJ software</li>
      <li>Add integrate Slipmat chat for event hosts</li>
      <li>
        Independent modes for editing and playing. In play mode the list would show controls like
        "Mark played", "Tweet" etc. (Ideally you could easily switch between the two to allow
        editing the script during the show if needed.)
      </li>
    </ul>

    <p>
      The beginnings of this experiment are open source and
      <a href="https://github.com/Uninen/program-generator-experiment"
        >available to study and poke over at GitHub</a
      >.
    </p>
  </div>
</template>
