<template>
  <main-frame>
    <template #header>
      {{ showDetails.title }}
    </template>

    <template #top-action>
      <Listbox as="div" class="space-y-1" v-model="selectedShow" v-slot="{ open }">
        <div class="relative">
          <span class="inline-block w-full rounded-md">
            <ListboxButton
              class="relative w-full py-1 pl-3 pr-10 text-sm leading-5 text-left transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md cursor-default focus:outline-none focus:shadow-outline-blue focus:border-blue-300"
            >
              <span class="block truncate">
                {{ showDetails.title }}
              </span>
              <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                <svg
                  class="w-5 h-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="none"
                  stroke="currentColor"
                >
                  <path
                    d="M7 7l3-3 3 3m0 6l-3 3-3-3"
                    strokeWidth="1.5"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  />
                </svg>
              </span>
            </ListboxButton>
          </span>

          <transition
            leave-active-class="transition duration-100 ease-in"
            leave-from-class="opacity-100"
            leave-to-class="opacity-0"
          >
            <div v-if="open" class="absolute w-full mt-1 bg-white rounded-md shadow-lg">
              <ListboxOptions
                static
                class="py-1 overflow-auto text-base leading-6 rounded-md shadow-xs max-h-60 focus:outline-none sm:text-sm sm:leading-5"
              >
                <ListboxOption
                  v-for="show in shows"
                  :key="show"
                  :value="show"
                  v-slot="{ selected, active }"
                >
                  <div
                    :class="
                      `${
                        active ? 'text-white bg-blue-600' : 'text-gray-900'
                      } cursor-default select-none relative py-2 pl-8 pr-4`
                    "
                  >
                    <span :class="`${selected ? 'font-semibold' : 'font-normal'} block truncate`">
                      {{ show }}
                    </span>
                    <span
                      v-if="selected"
                      :class="
                        `${
                          active ? 'text-white' : 'text-blue-600'
                        } absolute inset-y-0 left-0 flex items-center pl-1.5`
                      "
                    >
                      <svg
                        class="w-5 h-5"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </div>
                </ListboxOption>
              </ListboxOptions>
            </div>
          </transition>
        </div>
      </Listbox>

      <div class="flex flex-row w-full mt-2 sm:mt-0">
        <span class="block rounded-md sm:ml-3">
          <button type="button" class="btn secondary" @click="toggleShowDetailsForm">
            <!-- Heroicon name: pencil -->
            <svg
              class="w-4 h-4 mr-2 -ml-1 text-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
              />
            </svg>
            Edit
          </button>
        </span>

        <span class="ml-1 rounded-md sm:ml-3">
          <router-link to="/new/" custom v-slot="{ navigate }">
            <button type="button" class="btn primary" @click="navigate">
              <!-- Heroicon name: check -->
              <svg
                class="w-4 h-4 mr-2 -ml-1"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                />
              </svg>
              New
            </button>
          </router-link>
        </span>
      </div>
    </template>

    <template #sub-title>
      <div class="flex items-center mt-2 text-sm leading-5 text-gray-600 sm:mr-6">
        <svg
          class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>

        <span title="Start time">{{ showDetails.startTime }}</span>
      </div>
      <div class="flex items-center mt-2 text-sm leading-5 text-gray-600 sm:mr-6">
        <svg
          class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>

        <span title="duration">{{ showDetails.duration }} min</span>
      </div>
      <div
        class="flex items-center mt-2 text-sm leading-5 text-gray-500 sm:mr-6"
        id="currently-scripted"
      >
        <svg
          class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>

        Scripted: {{ totalProgramMinutes }} min
      </div>
      <div class="flex items-center mt-2 text-sm leading-5 text-gray-500">
        <svg
          class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>

        Time to fill: {{ emptyProgramMinutes }} min (~{{ neededSongsEstimate }}
        songs)
      </div>
    </template>

    <template #sub-title2>
      <show-details-form v-if="showDetailsFormOpen" />
    </template>

    <template #sidebar>
      <div class="text-lg text-gray-700">
        <p>
          <strong class="font-bold">Build mode.</strong> Create and tweak your show program here.
          <span class="hidden">When you are done, swith to play mode.</span>
        </p>
      </div>
    </template>

    <template #main>
      <ol id="programlist">
        <li v-for="(row, index) in rows" :key="row">
          <list-item :index="index" :row="row" />
        </li>
        <li>
          <div
            class="mt-2 text-lg font-semibold text-gray-500 cursor-pointer select-none font-source"
            id="add-toggle"
            v-if="!createRowFormOpen"
          >
            <button class="btn" type="button" id="add-row-button" @click.prevent="toggleAddForm">
              New row
            </button>

            <slipmat-button v-if="false"></slipmat-button>
          </div>
          <div v-if="createRowFormOpen" class="mb-6">
            <create-row-form></create-row-form>
          </div>
        </li>
      </ol>
    </template>
  </main-frame>
</template>

<script lang="ts">
import Sortable from 'sortablejs'

import { defineComponent, computed, onMounted, watchEffect, ref } from 'vue'
import { useStore } from 'vuex'
import { key } from '@/store'
import { State } from '@/types'

import { Listbox, ListboxButton, ListboxOptions, ListboxOption } from '@headlessui/vue'

import ListItem from '@/components/ListItem.vue'
import CreateRowForm from '@/components/forms/CreateRowForm.vue'
import ShowDetailsForm from '@/components/forms/ShowDetailsForm.vue'
import MainFrame from '@/components/frame/MainFrame.vue'
import SlipmatButton from '@/components/generics/SlipmatButton.vue'

export default defineComponent({
  components: {
    Listbox,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
    ListItem,
    CreateRowForm,
    ShowDetailsForm,
    MainFrame,
    SlipmatButton,
  },
  setup() {
    const store = useStore<State>(key)
    const createRowFormOpen = computed(() => store.state.ui.createRowFormOpen)
    const shows = computed(() => Object.keys(store.state.shows))
    const selectedShow = ref(shows.value[0])

    onMounted(() => {
      const el = document.getElementById('programlist')
      Sortable.create(el!, {
        handle: '.handle',
        setData: function(/** DataTransfer */ dataTransfer, /** HTMLElement */ dragEl) {
          console.log(`setData: ${dragEl.textContent}`, dataTransfer)
          dataTransfer.setData('Text', dragEl.textContent!) // `dataTransfer` object of HTML5 DragEvent
        },
        onChoose: function(/** Event */ evt) {
          console.log(`onChoose: ${evt.oldIndex}`)
        },
        onStart: function(/** Event */ evt) {
          console.log(`onStart: changed ${evt.oldIndex} to ${evt.newIndex}`)
        },
        onEnd: function(/** Event */ evt) {
          console.log(`onEnd: changed ${evt.oldIndex} to ${evt.newIndex}`)
          store.commit('SWAP_ROWS', {
            from: evt.oldIndex,
            to: evt.newIndex,
          })
        },
      })
    })

    const totalProgramMinutes = computed(() => store.getters.totalProgramMinutes)
    const emptyProgramMinutes = computed(() => store.getters.emptyProgramMinutes)
    const neededSongsEstimate = computed(() => store.getters.neededSongsEstimate)
    const toggleAddForm = () => {
      store.commit('SET_UI_ATTR', {
        attr: 'createRowFormOpen',
        value: !store.state.ui.createRowFormOpen,
      })
    }
    const toggleShowDetailsForm = () => {
      store.commit('SET_UI_ATTR', {
        attr: 'showDetailsFormOpen',
        value: !store.state.ui.showDetailsFormOpen,
      })
    }

    watchEffect(() => {
      console.log('total minutes: ', totalProgramMinutes.value)
    })

    return {
      debug: process.env.NODE_ENV === 'development',
      rows: computed(() => store.getters.rows),
      showDetails: computed(() => store.getters.showDetails),
      showDetailsFormOpen: computed(() => store.state.ui.showDetailsFormOpen),
      totalProgramMinutes,
      emptyProgramMinutes,
      neededSongsEstimate,
      createRowFormOpen,
      toggleAddForm,
      toggleShowDetailsForm,
      shows,
      selectedShow,
    }
  },
})
</script>
