<template>
  <div class="px-2 prose md:px-4 lg:px-8">
    <teleport to="#main-title">
      Changes
    </teleport>
    <ul>
      <li>
        <strong>0.3 - 2020-11-13</strong>
        <ul>
          <li>
            New: show details can now be edited.
          </li>
          <li>
            Enhancement: polished the UI in many places.
          </li>
          <li>
            Under the hood: major refactor: added support for multiple programs.
          </li>
          <li>
            Under the hood: updated project dependencies.
          </li>
        </ul>
      </li>
      <li>
        <strong>0.2 - 2020-10-28</strong>
        <ul>
          <li>
            New: tap tempo. Select any song and click tap tempo button in tempo for few times to add
            BPM to a song.
          </li>
          <li>
            New: added calculations for scripted and unscripted minutes + estimation of number of
            needed songs (based on given song average length)
          </li>
          <li>New: rows can now be selected and deleted</li>
          <li>New: added new section row type</li>
          <li>Enhancement: lots of UI tweaks</li>
        </ul>
      </li>
      <li>
        <strong>0.1 - 2020-10-25</strong>
        <ul>
          <li>
            First version. Basic demo with automatic starting time, rearranging w/ drag&drop and
            adding of rows
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
