<template>
  <MainFrame>
    <template #header>
      Create a New Show
    </template>

    <template #main>
      <ShowDetailsForm></ShowDetailsForm>
    </template>
  </MainFrame>
</template>
<script setup lang="ts">
export { default as MainFrame } from '@/components/frame/MainFrame.vue'
export { default as ShowDetailsForm } from '@/components/forms/ShowDetailsForm.vue'
</script>
