<template>
  <transition name="fadeOut">
    <div
      v-if="isLoading"
      class="fixed inset-0 z-50 flex content-end overflow-auto bg-white"
    >
      <div
        class="flex justify-center w-full my-auto text-2xl font-semibold font-source"
      >
        <span>Loading...</span>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

import { useStore } from 'vuex'
import { key } from '@/store'
import { State } from '@/types'

export default defineComponent({
  setup() {
    const store = useStore<State>(key)
    const isLoading = computed(() => store.state.isLoading)

    return { isLoading }
  },
})
</script>
<style>
.fadeOut-leave-active {
  transition-property: opacity;
  transition-duration: 1.5s;
}

.fadeOut-leave-to {
  opacity: 0;
}
</style>
