<template>
  <div class="flex flex-col w-full min-h-0">
    <loading-screen></loading-screen>
    <slipmat-modal v-if="false"></slipmat-modal>
    <nav class="bg-black">
      <div class="px-4 mx-auto max-w-9xl sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="https://slipmat.io">
                <img
                  class="w-8 h-8"
                  src="https://slipmatmedia.b-cdn.net/img/favicons/apple-touch-icon.png"
                  alt="Slipmat logo"
                />
              </a>
            </div>
            <div
              class="relative flex items-center min-h-0 pl-2 my-2 text-2xl font-bold text-white no-underline lg:pl-3"
            >
              <a href="https://slipmat.io">Slipmat.io</a>
            </div>
            <div class="hidden md:block">
              <div class="flex items-baseline ml-10">
                <router-link
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  active-class="text-slipmat-500"
                  :to="homeUrl"
                >
                  Home
                </router-link>

                <router-link
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  active-class="text-slipmat-500"
                  to="/about/"
                >
                  About
                </router-link>

                <router-link
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  active-class="text-slipmat-500"
                  to="/changes/"
                >
                  Changes
                </router-link>

                <span class="px-3 py-2 ml-4 text-gray-300">|</span>

                <a
                  href="https://backstage.slipmat.io"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >Backstage</a
                >

                <a
                  href="https://discord.gg/PCSwhkZ"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >Chat</a
                >

                <a
                  href="https://blog.slipmat.io/"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >Blog</a
                >

                <a
                  href="https://eventplanner.now.sh/"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >EventPlanner</a
                >

                <a
                  v-if="false"
                  :href="djDashboardUrl"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >DJ Dashboard</a
                >

                <a
                  v-if="false"
                  href="admin/"
                  class="px-3 py-2 ml-4 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
                  >Admin</a
                >
              </div>
            </div>
          </div>

          <div class="hidden md:block">
            <div class="flex items-center ml-4 md:ml-6">
              <a
                class="p-1 text-red-500 border-2 border-transparent rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                aria-label="Notifications"
                href="/backstage/"
                v-if="user.backstageNotifications || user.backstageMessages"
                title="You have notifications on Backstage"
              >
                <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                  />
                </svg>
              </a>

              <div class="relative flex flex-1 ml-3">
                <div class="flex flex-row items-center justify-between flex-shrink-0">
                  <a
                    class="block max-w-xs text-sm text-white rounded-full focus:outline-none focus:shadow-solid"
                    id="user-menu"
                    aria-label="User menu"
                    aria-haspopup="true"
                    x-bind:aria-expanded="open"
                    href="https://slipmat.io/account/"
                  >
                    <img
                      class="w-8 h-8 rounded-full"
                      src="https://media.slipmat.io/media/profile_photos/ccc7b1cd-c0dd-4fd8-86aa-f375de65ff98_1555553750.jpg"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="flex -mr-2 md:hidden">
            <button
              class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
              x-bind:aria-label="open ? 'Close main menu' : 'Main menu'"
              x-bind:aria-expanded="open"
              @click="open = !open"
            >
              <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path
                  :class="{ 'inline-flex': !open }"
                  class="inline-flex"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
                <path
                  :class="{ hidden: !open, 'inline-flex': open }"
                  class="hidden"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="md:hidden" :class="{ hidden: !open }">
        <div class="px-2 pt-2 pb-3 sm:px-3">
          <router-link
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            active-class="text-slipmat-500"
            :to="homeUrl"
          >
            Home
          </router-link>

          <router-link
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            active-class="text-slipmat-500"
            to="/about/"
          >
            About
          </router-link>

          <router-link
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            active-class="text-slipmat-500"
            to="/changes/"
          >
            Changes
          </router-link>

          <a
            href="https://backstage.slipmat.io/"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >Backstage</a
          >

          <a
            href="https://discord.gg/PCSwhkZ"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >Chat</a
          >

          <a
            href="https://blog.slipmat.io/"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >Blog</a
          >

          <a
            href="https://eventplanner.now.sh/"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >EventPlanner</a
          >

          <a
            v-if="false"
            href="/dj/"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >DJ Dashboard</a
          >

          <a
            v-if="false"
            href="admin/"
            class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 rounded-md hover:text-slipmat-500 hover:bg-gray-950 focus:outline-none focus:text-white focus:bg-gray-700"
            >Admin</a
          >
        </div>
        <div class="pt-4 pb-3 border-t border-gray-700">
          <div v-if="!isAnonymous && user" class="flex items-center px-5">
            <div class="flex-shrink-0">
              <a href="https://slipmat.io/account/">
                <img
                  class="w-10 h-10 rounded-full"
                  src="https://media.slipmat.io/media/profile_photos/ccc7b1cd-c0dd-4fd8-86aa-f375de65ff98_1555553750.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">
                <a href="https://slipmat.io/account/">{{ user.username }}</a>
              </div>
              <div class="mt-1 text-sm font-medium leading-none text-gray-400">
                <a href="https://slipmat.io/account/">{{ user.email }}</a>
              </div>
            </div>
          </div>
          <div v-else class="flex items-center px-5">
            <a class="btn" href="https://slipmat.io/account/login/">Log In</a>
          </div>

          <div
            class="px-2 mt-3"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu"
          >
            <a
              v-if="false"
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
              role="menuitem"
              >Your Profile</a
            >
            <a
              v-if="false"
              href="#"
              class="block px-3 py-2 mt-1 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
              role="menuitem"
              >Settings</a
            >
            <a
              v-if="false"
              href="#"
              class="block px-3 py-2 mt-1 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
              role="menuitem"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </nav>
    <main class="flex-1 w-full mx-auto max-w-9xl">
      <!-- Content -->
      <div class="px-2 prose md:px-4 lg:px-8" v-if="error">
        <h2 class="mb-6 text-2xl font-bold font-source">
          Error: localStorage not available
        </h2>

        <p>
          This tool requires localStorage to be available. Your browser doesn't support it
          (unlikely) or it's not available for some reason. Please enable or fix your localStorage
          to be able to use this app.
        </p>

        <p>
          Support available from
          <a href="https://backstage.slipmat.io/t/dj-feedback-wanted-show-script-building-tool/2706"
            >Slipmat Backstage</a
          >.
        </p>
      </div>
      <template v-else-if="isReady">
        <div class="px-6 pt-4 pb-4 bg-gray-200 border-b border-gray-300 ">
          <div class="md:flex md:items-center md:justify-between">
            <div class="flex-1 min-w-0">
              <h2
                class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate font-source"
                id="main-title"
              ></h2>
              <div class="flex flex-col mt-1 sm:mt-0 sm:flex-row sm:flex-wrap" id="sub-title"></div>
            </div>
            <div class="flex flex-col mt-5 md:mt-0 md:ml-4 sm:flex-row" id="top-action"></div>
          </div>
          <div id="sub-title2"></div>
        </div>

        <div class="container pt-8 pb-6">
          <router-view></router-view>
        </div>
      </template>
    </main>
    <footer class="pt-8 pb-8 text-center text-white bg-black pb-8text-lg text-shadow">
      <strong>Slipmat.io</strong> Event Program Builder
      {{ version }}
      <br />
      <div class="text-base text-gray-100">
        Slipmat.io is a community for DJs and music lovers.
        <br />
        <!-- <span class="text-sm text-gray-400">Built on {{ buildTime }}</span> -->
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { key } from '@/store'
import { State } from '@/types'
import { demoShow } from '@/composables'

import LoadingScreen from '@/components/LoadingScreen.vue'
import SlipmatModal from '@/components/SlipmatModal.vue'

export default defineComponent({
  components: {
    LoadingScreen,
    SlipmatModal,
  },
  setup() {
    const store = useStore<State>(key)
    const user = 'uninen'
    const isDj = true
    const djDashboardUrl = '/dj/'
    const isAdmin = false
    const isAnonymous = false
    const debug = process.env.NODE_ENV === 'development'
    const open = ref(false)
    const error = ref(false)
    const version = process.env.APP_VERSION || '0'
    const isReady = computed(() => store.getters.isReady)
    const isFirstTime = computed(() => store.state.firstTime)
    const homeUrl = computed(() => store.getters.currentHomeUrl)
    const router = useRouter()

    store
      .dispatch('checkSession')
      .then(() => {
        console.log('were done!')
        if (isFirstTime.value) {
          console.log('first time!')
          store.commit('ADD_SHOW', {
            slug: 'demoshow',
            showData: demoShow,
          })
          store.commit('SET_CURRENT_SLUG', 'demoshow')
          router.push('/demoshow/')
        }
      })
      .catch(err => {
        console.log('Check session failed.')
        console.error(err)
        error.value = true
      })

    return {
      user,
      isDj,
      isAdmin,
      isAnonymous,
      debug,
      open,
      version,
      djDashboardUrl,
      error,
      isReady,
      homeUrl,
    }
  },
})
</script>
<style lang="postcss">
.btn {
  @apply inline-flex items-center px-3 py-1 text-sm font-medium leading-5 transition duration-150 ease-in-out rounded-md border border-gray-300;
}

.btn.primary {
  @apply bg-slipmat-600 text-white focus:outline-none focus:ring-slipmat-500 focus:border-slipmat-700 hover:text-gray-100 hover:bg-slipmat-500 active:bg-slipmat-500;
}

.btn.secondary {
  @apply bg-white text-gray-700 focus:outline-none focus:ring-blue-500 focus:border-blue-300 hover:text-gray-500 active:bg-gray-50;
}
</style>
