<template>
  <form action="" class="max-w-xs form">
    <div class="mt-4">
      <span class="font-bold label">Type</span>
      <div>
        <label class="inline-flex items-center mr-3 cursor-pointer">
          <input
            type="radio"
            v-model="rowType"
            class="cursor-pointer form-radio"
            name="row-type"
            value="song"
          />
          <span class="ml-2 text-gray-700 select-none font-source">Song</span>
        </label>
        <label class="inline-flex items-center mr-3 cursor-pointer">
          <input
            type="radio"
            v-model="rowType"
            class="cursor-pointer form-radio"
            name="row-type"
            value="talk"
          />
          <span class="ml-2 text-gray-700 select-none font-source">Talk</span>
        </label>
        <label class="inline-flex items-center mr-3 cursor-pointer">
          <input
            type="radio"
            v-model="rowType"
            class="cursor-pointer form-radio"
            name="row-type"
            value="jingle"
          />
          <span class="ml-2 text-gray-700 font-source">Jingle</span>
        </label>
        <label class="inline-flex items-center cursor-pointer">
          <input
            type="radio"
            v-model="rowType"
            class="cursor-pointer form-radio"
            name="row-type"
            value="section"
          />
          <span class="ml-2 text-gray-700 select-none font-source">Section</span>
        </label>
      </div>
    </div>

    <div class="mt-1" v-if="rowType !== 'section'">
      <label class="block">
        <span class="font-bold text-gray-700 select-none font-source">Duration (seconds)</span>
        <input class="block w-full mt-1 form-input" v-model="duration" name="duration" />
      </label>
    </div>

    <div class="mt-2">
      <label v-if="rowType === 'song'" class="block">
        <span class="font-bold text-gray-700 select-none font-source">{{ labelText }}</span>
        <input class="block w-full mt-1 form-input" v-model="song" name="songtext" />
      </label>
      <label v-else class="block">
        <span class="font-bold text-gray-700 select-none font-source">{{ labelText }}</span>
        <input class="block w-full mt-1 form-input" v-model="text" name="text" />
      </label>
    </div>

    <div class="mt-2" v-if="rowType !== 'section'">
      <label class="block">
        <span class="select-none font-source">Comment</span>
        <input class="block w-full mt-1 form-input" v-model="comment" />
      </label>
    </div>

    <button class="btn" type="submit" @click.prevent="addRow">Add</button>

    <span class="pl-2 text-gray-500"
      >or <a href="" class="underline" @click.prevent="resetRow">cancel</a></span
    >
  </form>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { key } from '@/store'
import { State } from '@/types'

const store = useStore<State>(key)
export const rowCount = computed(() => store.getters.rows.length)
export const rowType = ref('song')
export const duration = ref('')
export const text = ref('')
export const song = ref('')
export const comment = ref('')

export const labelText = computed(() => {
  if (rowType.value === 'song') {
    return 'Artist - Song'
  } else if (rowType.value === 'jingle') {
    return 'Name'
  } else if (rowType.value === 'section') {
    return 'Text'
  } else {
    return 'Topic'
  }
})

export const resetRow = (): void => {
  logger.run('resetrow')
  rowType.value = 'song'
  duration.value = ''
  song.value = ''
  text.value = ''
  comment.value = ''
  store.commit('SET_UI_ATTR', {
    attr: 'createRowFormOpen',
    value: false,
  })
}

export const addRow = (): void => {
  let dur = parseInt(duration.value)
  if (rowType.value === 'section') {
    dur = 0
  }
  store.commit('ADD_ROW', {
    type: rowType.value,
    duration: dur,
    song: song.value,
    text: text.value,
    comment: comment.value,
  })
  resetRow()
}
</script>
