<template>
  <form clasS="max-w-xs mt-4 form">
    <label class="block">
      <span class="mt-2 font-bold text-gray-700 font-source">Show Title</span>
      <input class="block w-full mt-1 form-input" v-model="title" />
    </label>

    <label class="block mt-2">
      <span class="font-bold text-gray-700 font-source">Start Time</span>
      <input
        class="block w-full mt-1 form-input"
        placeholder="In 24-hour format. For example noon: 12:00"
        v-model="startTime"
      />
    </label>

    <label class="block mt-2">
      <span class="font-bold text-gray-700 font-source">Duration (minutes)</span>
      <input
        class="block w-full mt-1 form-input"
        placeholder="For example 03:30"
        v-model="duration"
      />
    </label>

    <div class="flex items-center mt-2">
      <button type="button" class="btn primary" @click.prevent="updateDetails">
        Update
      </button>

      <div class="text-gray-500 ">
        <span class="px-2">or</span>
        <a href="" class="underline" @click.prevent="toggleShowDetailsForm">cancel</a>
      </div>
    </div>
  </form>
</template>
<script setup lang="ts">
import { ref } from 'vue'
import { useStore } from 'vuex'
import { key } from '@/store'
import { State } from '@/types'

const store = useStore<State>(key)
export const title = ref('')
export const startTime = ref('')
export const duration = ref(0)
export const averageSongLength = ref(0)

export const toggleShowDetailsForm = (): void => {
  store.commit('SET_UI_ATTR', {
    attr: 'showDetailsFormOpen',
    value: !store.state.ui.showDetailsFormOpen,
  })
}

export const updateDetails = (): void => {
  console.log('update details')
  store.commit('SET_SHOW_DETAILS', {
    title: title.value,
    startTime: startTime.value,
    duration: duration.value,
    averageSongLength: averageSongLength.value,
  })
  toggleShowDetailsForm()
}

title.value = store.getters.showDetails.title
startTime.value = store.getters.showDetails.startTime
duration.value = store.getters.showDetails.duration
averageSongLength.value = store.getters.showDetails.averageSongLength
</script>
